<section>
    <article>
        <header>
            <h1>Дългото завръщане</h1>
        </header><!-- .entry-header -->

        <div>
            <div class="floated">
                <img width="" height="" src="images/books/dz1.png" alt="dalgoto zavrashtane" />
            </div>
            Представям Ви първия етап от живота ми, отдаден на словото и перото - "Дългото завръщане".
                Посветих мъката и душата си на разрухата по време на глада и мизерията във времената на Втората световна война,
                позовах се на разказите на очевидци, скрит като малко дете в ъгъла на детството ми, останал без мечти.
                Когато започнах да Ви разказвам, бях изгладняло малко дете. Не вярвах, видял новото време. Исках мъката никога да не се завръща в нашите земи.
                Вървях по пътя на мечтите си, по новия път на живота, следвайки кристалните чаши, които кънтяха в душите на предците ми към новия живот,
                наречен любовта на спасението. Отпиваме от тях внимателно от еликсира на живота и ги пазим да не се счупят, защото знаем,
                че те са бъдещето ни, за което мечтаем. Пазейки ги, вървим с тях с голямата любов, забравили каторгата на  миналото.
                Виждаме червените рози на щастието по пътя на дългото завръщане. Няма да усетим как епохата ги разчупва на малки парчета и
                ги превръща в жълти плачещи рози, които смирено ни гледат от двете страни на пътя, наречен бъдещето на любовта.
                Ще Ви върна в онези времена на глад, въшки и мизерия. Нека заедно да извървим пътя на "Дългото завръщане" към добротата на света,
                при червените рози, които от красивите алеи да ни върнат бъдещето и да ни поведат с красивия си аромат към любовта на спасението.
        </div>
    </article>

    <div class="clearfix"></div>
</section>