<section>
    <article>
        <header>
            <h1>Стоян Милев</h1>
        </header><!-- .entry-header -->

        <div>
            <div class="floated">
                <img src="images/books/usmihnat.jpg" width="180px" alt="stoyan milev" align="top"/>
            </div>
            Уважаеми приятели,<br />Ние не знаем загадките на света и какво ни очаква във времето, в което живеем.
                Растем като благородни клони, които след време трябва да ни дарят с първите плодове на живота.
                Дали с културата, знанията и добротата, добити след преживените болки, нашите потомци, когато видят плодовете на труда ни,
                ще ни благодарят за положения труд и ще оправдаем и ще излекуваме раните им и завинаги ще забравят горчилката на времето?
                Ще ни поведат през отворените простори към света. Ще се радваме заедно на любовта, изпреварили самотата,
                забравили мрака и далечните мостове на живота, огрявани от красотите на слънцето и луната.
                Да останем завинаги пред бащините ни огнища при любимите ни люде, които ни закърмиха в сънищата между небето и
                земята в очакване трудът ни да бъде възнаграден за пролятата пот, която през годините е попивала в майката Земя.
                В романите, написани в тъмните нощи на мъката и мълчанието, под върховете на приспаната Беласица,
                се стремях да напуснем заедно тежкия живот и да полетим със славеите от Великата планина към синевата на спасението, в прохладата на надеждата.
                Да потърсим мечтите си, които да ни върнат на майката Земя, усетили живота, за който мечтаехме; да забравим мъката,
                когато стояхме на кръстопътя на нещастието и каторгата. Не искам хвалби. Очаквам благословени слова,
                ако съм Ви върнал отново към бъдещето на новия живот при горящите огнища на родовете ни, оцелели в мътилката на времето.
                Ако някой от Вас ме критикува и не приема творбите ми, няма да му се сърдя. С благодарност ще прочета словата му.
                Като танцуващо младо момче, закъсняло във времето на словото, ще му се извиня от душа.
                С моите романи искам да помогна на света и заедно да излекуваме раните на епохата и да се преселим в новия свят на бъдещето,
                където ни очакват добродетелите на справедливостта, надеждата и любовта. Нека възродим Българския дух и дадем бъдеще на поколенията след нас,
                без да усетят мириса на нещастната изпепелена земя в продължение на вековните робства и войните на Балканите, които унищожаваха родовете ни.
        </div>
    </article>

    <div class="clearfix"></div>
</section>