<section>
    <article>
        <header>
            <h1>Танго с дявола</h1>
        </header><!-- .entry-header -->

        <div>
            <div class="floated">
                <img width="" height="" src="images/books/td1.png" alt="stoyan milev" />
            </div>
            След поредния ми роман много мислех как да опиша живота на мой приятел от студентските ми години. Животът и инстинктът ме принудиха, вече като творец,
                усетил чистата му душа още в Техническия университет, макар че беше много потаен. След двадесет и пет години съдбата отново ни събра край
                бреговете на красивото Черно море близо до Бургас. Бях объркан и не проумявах, когато домакинът на вечерта произнесе мюсюлманското му име,
                което с години е таял в душата си. Гледаше ме обиден от света, като ангел пазител, запазил великата тайна на отминалия му живот.
                След година, на Кръстовден, само на мен щеше да разкрие ръждясалата тайна на живота си. Докато ми разказваше, отнесен от стихията на времето,
                реших като писател да опиша миналото му. Няколко дни очаквах отговора му. В една късна нощ под сънливата Беласица, при заспалите славеи,
                най-сетне ми се обади и ми разреши да опиша живота му. Осъзнавах, че няма да докосна тайните кътчета на душата му,
                но бях подготвен да го събудя от мрачните преживени сънища, за да проникна в живота му. Усещах неутолимата му жажда към рождената му майка,
                която го беше напуснала на две годинки и не я помнеше в спомените си. В тъмните нещастни вечери, облян в сълзи, писалката ми описваше гибелта на
                света до кървавите рани на нещастието и несъвършенството. Промивах кървящите му рани и продължавах да пиша, без да ме разбере,
                унесен в сладкия сън на живота. Плачех, далеч от съдбата му, преживявайки отминалия му живот. Вървяхме към здрача, догонвайки отминалото време,
                в очакване на края на описания му живот в романа ми "Танго с дявола". Нямах покой, докато след дългите безсънни нощи не дописах романа.
                Велика река бушуваше в душата ми, с огромната рана на епохата, в очакване на детския плач, който да се появи от люлката на миналото.
                Изпратих ръкописа на приятеля си, след като той разбра, че съм го завършил. След няколко дни той ми се обади със заекващ глас,
                изпълнен със сълзи и ми сподели:<br />          - Приятелю, сърцето ми изгоря в топлата пепел на живота. След като прочетох романа на истината,
                възкръснах за нов живот. Не съжалявам, че ти разкрих мрака на отминалия ми живот, без да бъде отпратен към забравата.
                Последните ти слова в романа винаги ще ме връщат при угасналото огнище на рода ми в очакване то отново да се запали и да се възроди от думите ти.
                След тъжната раздяла си видял светлините на твоя град под потъмнялата Беласица.<br />
                Когато реших да опиша живота му и да го оставя като послание за поколенията след нас, помолих го да ми разреши. Три дни очаквах отговора му.
                В късна вечер, под сънливата Беласица, ми се обади по телефона и ми пожела творчество и ми разреши да опиша живота му в променящия се свят.
                Знаех, че като опиша болките му, няма да достигна до душата му в съвършенство, но бях готов да събудя сънищата му в неутолимата жажда към
                рождената му майка, която го беше напуснала на две годинки, което не помнеше и беше забравил в живота си. Писалката ми описваше в
                тъмните вечери безсмъртната гибел на света, достигнал до кървящите рани на световното нещастие и несъвършенство.
                Преминавах през раните му и продължавах да описвам живота му, без да разбере, унесен в сладкия сън на живота.
                Плачех на глас, далеч от него, изживял спомените на живота му. Вървяхме заедно към здрача, догонвайки слънцето, в очакване на края на романа.
                Когато написах романа, нямах покой. Голяма рана зееше в душата ми, като детски плач от далечината. Най-сетне ми се обади:<br />
                - Писателю, сърцето ми изгоря и отлетя в топлата пепел на живота, когато прочетох романа на истината. (ТОВА СЕ ПОВТАРЯ?!?!!)<br />
                Усещах словата му, които като горещи факли изгаряха душата ми. Чувам и в момента тихите му стъпки по дървените скърцащи стълби на миналото му.
                Преминах заедно със съпругата му, покръстената мюсюлманка, към света на православието. И в момента съм загрижен за бъдещето му,
                сред развалините на времето. Забравата се завърна в дома му, при люлката, която го отгледа, при уморените мечти и раздялата.
                Раните му затуляха времето, през което беше оживял като нов човек на епохата. Аз разкрих истината за един отминал живот,
                без да бъде отпратен към забравата. Написах роман на преживяната истина. След разказаната ми трагична история на края на романа написах:<br />
                "Видях в далечините светлините на моя град. Беласица беше потънала под похлупака на Средиземноморските топли облаци. Дали знаеше откъде се завръщам и
                какво съм преживял? Или заедно с всички на майката Земя неволно танцуваше танго с дявола, без да разбере, че в епохата на времето ме очакваше бъдещето на
                земната несподелена любов, която след години ще възкръсне, забравил мъката в името на християнския ни Бог."<br />
                ??? ТОВА СЕ ПОВТАРЯ?!?! Дали твоята реликва е разбрала откъде се завръщаш и какво си преживял.
                Или заедно с всички на майката Земя неволно е танцувала танго с дявола, без да разбере, че в епохата на времето ме очаква бъдещето на
                несподелената земна любов, която в години ще възкръсне и ще забравя мъката на християнската вяра в очакване на бъдещето. ( ТОВА СЕ ПОВТАРЯ?!?!?)
        </div>
    </article>

    <div class="clearfix"></div>
</section>