<section>
    <article>
        <header>
            <h1>Жълта роза</h1>
        </header><!-- .entry-header -->

        <div>
            <div class="floated">
                <img width="" height="" src="images/books/jr1.png" alt="zhalta roza" />
            </div>
            След написаната любовна драма между италианския военнопленник Марк и красивата рускиня Елена в романа "Дългото завръщане",
                написах втория си роман - "Жълта роза". Написах го по мой начин, превръщайки червената роза в увяхнала,
                пожълтяла от времето в съседна Югославия, където бушуващата война разрушаваше мостовете на Драва и душата на моя герой - Драган (Генерала).
                Там, под отломките на времето, загина синът на Драган и положи костите си в душата на обичащия го баща, под ада на небето,
                младостта си и страдащия му живот. По време на бомбардировките, от далечна Молдова Великата сила на любовта се молеше на Бога,
                извървяла дългия път към спасението. В моя роман "Жълта роза", за първи път в съвременната история, автор описва нещастната война,
                убила великата любов, поднесена като жертва на епохата. Обичта на моите герои се превърна в пепел и изгоря в нещастното време и
                отлетя завинаги към синевата на моята Беласица. Мъката и сълзите не ме напускаха по време на писането,
                когато виждах смъртта под бащиното огнище на Генерала. Плаках на глас, когато от дъщеря му разбрах,
                че обиден е напуснал голямата си любов към съкровените му същества, сина му и Габрета,
                и е положил душата и костите си на Белградските гробища в очакване да се появят сина му и обичната му жена, която го очакваше до Кишиневските пояси.
                Без да искам, при посещението ми в Белград под хълмовете на Авала, преди да започна да пиша беловата на романа, се появих пред града на Генерала.
                От обич и признателност, с голям букет от жълти рози, изпратени ми в спомените от красивата Габрета от далечна Молдова, застанах до отеца.
                Стотици миряни, застанали на колене, ме питаха с плачещи тъжни очи:<br />
                - Кой Бог, чужденецо, те доведе в нашата земя под плачещите брези на изгорялата земя на помирението?
                Ти запали християнската свещ на мъката, оплаквана от съдбата на плачещите жълти рози.<br />
                Коленичих пред духа му. Исках да върна любовта му в новия свят, където го очакваше красивата Габрета, готови да опростят греховете си,
                възкръснали за нов живот. Красивият Драган стоеше до мен в спомените ми, в моята България, където водеше на пояс изящното сръбско хоро до великата река.
                Като прочетете романа, ще разберете кое пленява света. Няма да се разсърдя, ако  някой от Вас застане пред самолетите-убийци и
                им се възхищава от летищата на смъртта в Италия, знаейки, че след време ще убият духа на моя герой и на народа му.
                Приятели, нашата Европа и светът са потънали в блатото и в тинята, търсят богатствата и парите. Нима ще разрешим да убият родовете и любовта ни?
                Нека заедно съхраним бъдещето, любовта и вярата за поколенията след нас като истински българи.
        </div>
    </article>

    <div class="clearfix"></div>
</section>