@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
}
#wrapper {
	width: 883px;
	margin: 0 auto;
}
#header {
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	height: 166px;
}
#content {
	background-image: url(../images/centerbg.png);
	background-repeat: no-repeat;
	height: 371px;
}
#footer {
	background-image: url(../images/bottom.png);
	background-repeat: no-repeat;
	background-position: top;
	height: 30px;
	clear: both;
	color: #666666;
	font-size: 11px;
	padding: 28px 0 0 400px;
}
#hero-slider {
	text-align:left;
	width:883px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin:0 auto;
	font-family:arial;
	padding: 0;
}

#hero-slider .mask {
	float:left;
	width:529px;
	height:340px;
	overflow:hidden;
	text-align:left;
	margin: 0;
	padding: 0;
	padding-top: 25px;
}

#hero-slider .panel { 
	float:left;
	width:529px;
	height:340px;
	overflow:hidden;
	text-align:left;
	margin: 0;
	padding-top:25px;
}

#hero-slider ul {
	margin:0;
	padding:102px 73px 0 87px;
	list-style:none;
	float:left;
}

#hero-slider ul li {
	margin: 0px;
	padding: 0px;
}

#hero-slider ul a {
	outline:none; 
	display:block;
	width:134px; 
	height:35px; 
	text-indent:-999em;	
}
#hero-slider ul a.active {   
    background-position: -134px;   
}
#hero-slider ul a:hover {
	background-position: -134px;
}
#hero-slider a.home {
	background: url(../images/nav1.gif) no-repeat 0 0;
}
#hero-slider a.aboutus {
	background: url(../images/nav2.gif) no-repeat 0 0;
}
#hero-slider a.services{
	background: url(../images/nav3.gif) no-repeat 0 0;
}
#hero-slider a.gallery {
	background: url(../images/nav4.gif) no-repeat 0 0;
}
#hero-slider a.contact {
	background: url(../images/nav5.gif) no-repeat 0 0;
}

.panel p {
	color:#000000;
}

.clear {
	clear:both
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #2aa489;
	letter-spacing: -1px;
	line-height: 25px;
	margin: 0;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	color: #000000;
	letter-spacing: -1px;
	line-height: 37px;
	margin: 0;
}
.rightimg {
	float: right;
	padding-left: 10px;
	display: block;
}
/* jQuery lightBox plugin - Gallery style */
#gallery {
		padding-top: 25px;
		width: 500px;
}
#gallery ul { list-style: none; }
#gallery ul li { display: inline; }
#gallery img {
		margin:0 6px 2px 0;
		border: 5px solid #cccccc;
		border-width: 5px;
		padding:0;
}
#gallery a:hover img {
		margin:0 6px 2px 0;
		border: 5px solid #3e3e3e;
		border-width: 5px;
		padding:0;
}
#contact {
	float: left;
	width: 200px;
}
#contact input#name, input#email, input#subject{
	background-image: url(../images/fieldbg.gif);
	background-repeat: repeat-x;
	height: 16px;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 5px;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
}
#contact input {

}
#contact textarea {
	background-image: url(../images/fieldbg.gif);
	background-repeat: repeat-x;
	height: 30px;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	padding: 5px;
	margin-bottom: 8px;
	border: 1px solid #CCCCCC;
}
.box {
	padding: 6px;
}
#select {
	font-family: "Trebuchet MS";
	font-size: 15px;
	/*background-image: url(images/selectmenu.png);*/
	background-repeat: no-repeat;
	color: #000000;
	font-weight: bold;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 155px;
	margin: 0;
	padding: 5px 0 5px 10px;
	height: 37px;
}
.contactfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #009966;
	padding: 5px;
}
#skin {
	float: right;
	width: 125px;
	padding-top: 25px;
}
